

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}
text{font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
background{color:#260026;}